<div class="entity-rating-widget-wrapper" data-entity-rating-id="{{ form.vars.attr['data-entity-rating-id'] }}">
    <div class="entity-rating-rate-container" {% if globalRateData.rateCount == 0 %}style="display: none;" {% endif %}>
        <div class="aggregateRating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta class="worstRating" itemprop="worstRating" content="{{ globalRateData.minRate }}">
            <span class="rating-rate-value"><span class="ratingValue" itemprop="ratingValue">{{ globalRateData.averageRate }}</span><span class="rating-rate-separator">/</span><span class="bestRating" itemprop="bestRating">{{ globalRateData.maxRate }}</span></span> <span class="rating-rate-count-value">(<span class="ratingCount" itemprop="ratingCount">{{ globalRateData.rateCount }}</span> vote{{ globalRateData.rateCount > 1 ? 's' : '' }})</span>
        </div>
    </div>
    <div class="entity-rating-form-container">
        {{ form_start(form) }}
        {{ form_row(form.rate) }}
        {{ form_end(form) }}
    </div>
</div>