<div {% if globalRateData.rateCount == 0 %}style="display: none;" {% endif %}>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <meta itemprop="worstRating" content="{{ globalRateData.minRate }}">
        <span itemprop="ratingValue">{{ globalRateData.averageRate }}</span> / <span itemprop="bestRating">{{ globalRateData.maxRate }}</span> (<span itemprop="ratingCount">{{ globalRateData.rateCount }}</span> vote{{ globalRateData.rateCount > 1 ? 's' : '' }})
    </div>
</div>
<div class="star-rating-container">
    {{ form_start(form) }}
    {{ form_row(form.rate) }}
    {{ form_end(form) }}
</div>